*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
*::before, *::after{
	box-sizing: border-box;
}
ol, ul{
	list-style: none;
}
html{
	font-size: 10vw;
}
body{
	font-size: 3.7vw;
}

section>h2:first-child{
	font-size: 4.53vw;
	border-left: 2px solid #d33a31;
	margin:4vw 0;
	font-weight: normal;
	padding-left: 2.6vw;
	line-height: 1
}
.topbar{
	background: #d43c33;
	padding: 4.5vw 2.5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.topbar .logo{
	width: 38vw;
}
.topbar .downloadApp{
	line-height: 7.5vw;
	border: 1px solid white;
	border-radius: 4.25vw;
	display: block;
	color: white;
	text-decoration: none;
	padding: 0 0.5em;
}
.siteNav{}

.siteNav > ol{
	display: flex;
	text-align: center;
	border-bottom: 1px solid #ccc;
	font-size: 1.1em;
}

.siteNav >ol> li{
	flex: 1;
}
.siteNav >ol> li.active{
	color: #d33a31;
}
.siteNav >ol> li>span{
	height: 10vw;
	line-height: 11vw;
	display: inline-block;
	position: relative;
}
.siteNav > ol> li.active>span::before{
	content:'';
	bottom: 0;
	position: absolute;
	border-bottom: 2px solid #d33a31;
	left:-2vw;
	right: -2vw;
}
.tabContent >li{
	display: none;
}
.tabContent >li.active{
	display: block;
}

.playlists{
	margin-top: 5.5vw;
}
.playlists > ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 0.93em;
}
.playlists > ul img{
	width: 100%;
}
.playlists >ul > li {
	width: calc(33.333333% - 0.5vw);
	margin-bottom: 4vw;
}
.playlists >ul > li p{
	padding: 0 1vw;
	display: -webkit-box;
	line-height: 5vw;
	height: 10vw;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lastestMusic{}
.lastestMusic p , .hot p{
	text-align: center;
}

.lastestMusic >ol, .hot >ol{
	padding-left: calc(2.6vw + 2px);
}

.lastestMusic >ol >li, .hot >ol >li{
	border-bottom: 1px solid #e2e2e3;
	padding: 1vw 0;
	position: relative;
}
.lastestMusic >ol >li a , .hot >ol >li a{
	text-decoration: none;
	color: inherit;
}
.lastestMusic >ol >li h3 , .hot >ol >li h3{
	font-size: 4.53vw;
	padding-bottom: 1vw;
	font-weight: normal;
}
.lastestMusic >ol >li p , .hot >ol >li p{
	font-size: 3.2vw;
	color: #888;
	line-height: 1;
	display: flex;
	align-items: center;
}

.lastestMusic > ol > li svg.play , .hot > ol > li svg.play{
	width: 5.9vw;
	height: 5.9vw;
	position: absolute;
	right: 4vw;
	top: 50%;
	transform: translateY(-50%);
	fill: #aaa;
}
.lastestMusic > ol > li svg.sq , .hot > ol > li svg.sq{
	width: 3.2vw;
	height: 3.2vw;
	margin-right: 0.5em;
	fill: #fe672e;
}
section.art{
	background: transparent url(https://s3.music.126.net/m/s/img/recommand_bg_2x.png?d045fafc60e017b653f8065a87496922) no-repeat center 0;
	padding-top: 17.6vw;
	padding-bottom: 5vw;
}

section.art .logo{
	text-align: center;
}

section.art .logosvg{
	width: 61.7vw;
}

section.art .openApp{
	display: block;
	max-width: 81.3vw;
	padding-top: 1vw 0;
	margin: 0 auto;
	text-align: center;
	color: #d43c33;
	text-decoration: none;
	border:1px solid;
	font-size: 4.3vw;
	line-height: 8.6vw;
	border-radius: 5.3vw;
	margin-bottom:1vw;
	margin-top: 3vw;
}
section.art .copyright{
	font-size: 3.2vw;
	transform: scale(0.75);
	text-align: center;
	color: #888;
}

.tabContent .hotbg{
	position: relative;
    padding-top: 25vw;
    min-height: 39vw;
    overflow: hidden;
    background: url(../images/hot_music_bg.jpg) no-repeat;
    background-size: contain;
}
.tabContent .hotIcon{
	position: absolute;
	background: url(../images/hotmusic.png) no-repeat;
    background-size: 166px 97px;
    top:6.666vw;
    left: 5.333vw;
    width: 142px;
    height: 67px;
    background-position: -24px -30px;
}
.tabContent .hotTime{
	position: absolute;
	top: 26.666vw;
	left: 5.5vw;
	font-size: 0.5em;
	color: white;
}
#tab2Loading, #tab3Loading{
	text-align: center;
	margin-top: 20vw;
}

.inputcover{
	background: #ebecec;
	border:none;
	border-radius: 15vw;
	display: flex;
	align-items: center;
	margin:10vw 10vw;
	height: 10vw;
	width: 80%;
}
.inputcover .search{
	width: 7vw;
	height: 7vw;
	margin-left: 4vw;
	fill: #cabdb8;
}
#searchSong {
	background: #ebecec;
	font-size: 5vw;
	line-height: 9vw;
	outline:none;
	border:1px solid #ebecec;margin-left: 3vw;
	width: 80%;
}